#include "resource.h"
#include <windows.h>

#define VERSION_AS_NUMBER 0,1,0,1
#define VERSION_AS_STRING "0.1.0"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSION_AS_NUMBER
 PRODUCTVERSION VERSION_AS_NUMBER
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080404b0"
    BEGIN
      VALUE "CompanyName", "Your Company" "\0"
      VALUE "FileDescription", "企业员工管理系统" "\0"
      VALUE "FileVersion", VERSION_AS_STRING "\0"
      VALUE "InternalName", "employee_app" "\0"
      VALUE "OriginalFilename", "employee_app.exe" "\0"
      VALUE "ProductName", "企业员工管理系统" "\0"
      VALUE "ProductVersion", VERSION_AS_STRING "\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0804, 1200
  END
END
